* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Literata", serif;
  color: rgb(0, 0, 0);
}

body {
  background-color: #f3f3f3;
  width: 100vw;
}

/*Common Font-styles */
.font--h1 {
  font-size: 3rem;
  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
}

.font--h2 {
  font-size: 2rem;
  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
}

.font--h3 {
  font-size: 1.5rem;
  @media screen and (min-width: 768px) {
    font-size: 2.3rem;
  }
}
.font--text {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 150%;
  margin: 4px;
  @media screen and (min-width: 768px) {
    font-size: 1.1em;
  }
}

.font--white {
  color: white;
}

.font--large {
  font-size: 1.2em;
  font-weight: bold;
}

.font--cursive {
  font-style: italic;
}

.responsive-text {
  max-width: 100%;
}

.list_element {
  margin: 2em 3em;
}

.figure__wrapper {
  padding: 1.2em;
}

.image__element {
  max-inline-size: 100%;
  block-size: auto;
  margin-bottom: 1em;
}

.image__element--card-style {
  border-radius: 20px;
  box-shadow: 4px 4px 15px 3px rgb(7, 7, 7);
}

.image__element--redsize {
  max-width: 30vw;
}

.image__element--circle {
  border-radius: 50em;
  box-shadow: 4px 4px 10px 5px rgb(105, 105, 105);
}

.logo {
  margin-left: 1.5em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
.logo__img {
  height: 6em;
  border-radius: 2em;
  box-shadow: 0px 0px 10px 4px rgb(25, 27, 27);
  @media screen and (min-width: 768px) {
    height: 7em;

    transition: box-shadow 4000ms;
  }
}

.logo__img:hover {
  box-shadow: 0px 0px 20px 5px rgb(228, 222, 211);
  transition: box-shadow 500ms;
}

.image__element--embedded {
  float: right;
}

/* Web Page structure */

#content-container {
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}

/*   Header   */

.header__layout--large {
  /*background-image: url("images/Sladalen4.jpg");
  background-size: cover;*/
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*position: fixed;*/
  @media screen and (min-width: 768px) {
    height: 50vh;
    flex-direction: column;
    justify-content: space-between;
  }
}



.header__layout--narrow {
  background-color: #9d988b;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  box-shadow: 0px 4px 10px 8px rgb(113, 113, 113);
  @media screen and (min-width: 768px) {
    height: 14rem;
    flex-direction: column;
    align-items: flex-start; /* Center align horizontally and vertically */
  }
}

/*index page */
.header-title {
  margin: auto;
  background-color: rgba(5, 5, 5, 0.545);
  @media screen and (min-width: 768px) {
    border-radius: 20px;
    padding: 0rem 4rem;
    transition: 2s;
    &:hover {
      letter-spacing: 10px;
      transform: scale(1.3);
      transition: 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}

/*navigation menu */
.nav__container {
  z-index: 4;
  background-color: #2e2e2eae;
  padding: 5px 0px 10px 10px;
  @media screen and (min-width: 768px) {
    background-color: #2e2e2eae;
    bottom: 0;
    width: 100%;
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.menu__menuItem {
  font-size: 0.7rem;
  margin-top: 5px;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.menu__menuItem a {
  color: #d0cfce;
  text-decoration: none;
}

.menu__menuItem a:hover {
  font-weight: bold;
  color: white;
}
.link--noDecoration {
  text-decoration: none;
}

/* Main Content */
/*==========================*/

.section__container {
  background: white;
  padding: 3vh 1vw;
  width: 100%;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 75%;

    padding: 3vh 1vw;
  }
}

.section__container--lower {
  padding-top: 11rem;
  @media screen and (min-width: 768px) {
    padding-top: 15rem;
  }
}

/* for Index-page layout*/
.grid-template--2col-fixedHeight {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: 30vh;
  padding-top: 26vh;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40vh;
    gap: 20px;
    padding-top: 54vh;
  }
}

/* content page layout */
.grid-template--2col {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.grid-template--3col {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  @media screen and (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
}

.grid-template--2-1col {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

.grid-template--5col {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}

/* position in grid */
.col-1 {
  grid-column-start: 1;
}
.col-2 {
  grid-column-start: 1;
  @media screen and (min-width: 768px) {
    grid-column-start: 2;
  }
}

/* General center vertical alignment */
.container__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Index page card style */
.section__card {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transition:2s ease; /* Adding transition for smooth effect */
  @media screen and (min-width: 768px) {
    border-radius: 20px;
    box-shadow: 4px 4px 10px 5px rgb(105, 105, 105);
  }
}
.title-container {
  background-color: rgba(5, 5, 5, 0.478);
  padding: 1rem;
  transition: 1s ease; /* Adding transition for smooth effect */
  justify-self: center;
  z-index: 4;
}

.title-container:hover {
  background-color: black;
  padding: 2rem 1rem;
  border-radius: 20px;
}

/* content page style */
.section__container--white-layout {
  background-color: white;
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

.section__container--grey-layout {
  background-color: rgb(225, 223, 216);
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

/* Footer */
.footer--style {
  background-color: #6b675e;
  padding: 1rem;
  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}
.footer__wrapper--layout {
  padding: 2rem;
}
.footer__map--style {
  width: 100%;
  height: 300px;
  border: 0;
  margin-top: 1rem;
}

/* Section Content Cards */
#sladalen {
  background-color: #b8b3af;
  padding: 1rem;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}

#svarteborg {
  background-image: url("images/Svarteborg1.jpg");
}

#beata {
  background-image: url("images/Beata_m_barn.jpg");
}

#gerda {
  background-image: url("images/Gerda1.jpg");
}

#pistolsmeder {
  background-image: url("images/pistolsmed.jpg");
}

#kapare {
  background-image: url("images/ölmevallakyrka.jpg");
}

/*för att kompensera fixed header när ankarlänken scrollar.*/
#ChristinaDahl:target,
#GertAntonsson:target,
#JohnAntonsson:target {
  scroll-margin-top: 12rem;
   @media screen and (min-width: 768px) {
    scroll-margin-top: 17rem;
  }
}
